<html lang="en">
<head>
 <meta charset="UTF-8">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <link rel="stylesheet" type="text/css" href="../static/css/login_style.css">
 <title>Document</title>
</head>
<body>
 <div class="login-page">
       <div class="wrap">
        <span class="imxg"></span>
        <p>Login</p>
       </div>
       <form class="lgfm" method="post" action="">
           {% csrf_token %}
           <div class="input-sec">
               <label for="username">username</label>
               <div>
                   <input type="text"
                          name="username" id="username"
                          class="labl">
               </div>
           </div>
           <div class="input-sec">
               <label for="password">password</label>
               <div>
                   <input type="password"
                          name="password" id="password"
                          class="labl">
               </div>
           </div>

           <div class="subtn">
               <button type="submit" class="btn-lgin">Login</button>
           </div>

       </form>

       <div class="btmcxt">
          {% for message in messages %}
          <p class="ermsg">{{message}}</p>
          {% endfor %}
               <p>not yet registered?
                   <a href="{% url 'signup' %}">click here</a>
               </p>
       </div>
 </div>
</body>
</html>

