{% extends 'base.html' %}
{% block content %}
    <div style="margin: 100px auto;">
        <main class="container" style="padding: 20px;
        width: 350px; background: #444; border-radius: 8px;
        box-shadow: 2px 2px 7px rgba(228, 228, 228, 0.5);
        text-color: rgb(250 100 100);">
        <form method="post" action="">
            {% csrf_token %}

            {% for field in form %}
                {{ field.label }}
                {{ field }}
            {% endfor %}

            <div class="form-group row">
                <div class="col-sm-8">
                    <button type="submit" name="confirmation" class="btn btn-primary">Sign Up</button>
                </div>
            </div>
        </form>
            <style>
                .errorlist {
                    color: red;
                }
            </style>
            {{form.errors}}
            {% for message in messages %}
                {{message}}
            {% endfor %}

            <p>already have an account?
                <a href="{% url 'login' %}">click here</a>
            </p>
    </main>

    </div>
{% endblock content %}